:root {
    --select-color: #00a8c820;
    --accent-color: #7fb513;
    --link-color: #7fb513;
    --strong-color: #f9337a;
}


body {
    font-family: "cardo", serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-word;
}

html,button,input,select,textarea {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: var(--select-color);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

figcaption {
    font-style: italic;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    border-left: 3px solid;
    border-color: #a00;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
    line-height: 1.2;
    color: #333;
    font-weight: 200;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 800px;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

.site-title a {
	color: #333;
	text-decoration: none !important;
    font-size: 4rem;
}

div.post{
    margin-bottom: 40px;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

pre > code {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

code {
  font-size: 14px;
}
  

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 5px;
    border-top: 1px solid #bbb;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 1rem;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
	margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #a00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.title_list {
    margin: 0;
}
.title_list:hover {
    color: #333;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #a00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #a00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

table th {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}

footer {
    padding-top: 200px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 0pt;
    /* border-bottom: 1px solid; */
    /* border-color: #bbb; */
}

.summary p {
    margin: 0;
}

.portrait {
    width: 150px;
    border-color: #bbb;
 }

 .portrait > img {
    width: 150px;
    border-radius: 50%;
 }

.right-portrait {
    width: 75%;
}

.social-section {
    display: flex;
    column-gap: 20px;
}

.social {
    color: #000;
    text-decoration: underline;
    align: center;
}

.social-section {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.awesome {
    margin-right: 5px;
}

@media (max-width: 500px) {
    .summary {
        display: block;
    }

    .portrait {
        width: 100%;
    }

    .right-portrait {
        width: 100%;
    }
}

.language-selection {
    float: right;
}
div .language-selection > a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.main-navigation {
    color: #333;
    font-size: 1.2em;
    padding-right: 1em;
    margin: 0;
}

