<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			<div class="post">
                <a href="{{ .RelPermalink }}" class="title_list"><h1 class="title_list">{{.Title}}</h1></a>
                <span class="meta">{{ dateFormat "2 Jan 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
                <div class=summary> <div class="markdown">
                    {{ .Summary }}
                </div> </div>
			</div>
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
