<div class="header">
	<base href="{{ "/" | absLangURL }}">
	<h1 class="site-title"><a href="{{ "/" }}">{{ .Site.Title }}</a></h1>
    <a href="{{ "/" | absLangURL }}" class="main-navigation">About</a>
    <a href="{{ "/posts" }}" class="main-navigation">Blog</a>
	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
        <div class="language-selection">
            {{ range .Translations }}
                <a href="{{ .Permalink }}">
                    <i class="fa-solid fa-globe"></i>
                    {{ .Site.Params.languageCode }}
                </a>
            {{ end }}
        </div>
	</nav>
</div>
