<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{- $title := ( .Title ) -}}
    {{- $siteTitle := ( .Site.Title ) -}}
    <title>{{ $title }} - {{ $siteTitle }}</title>

    {{- if isset .Site.Params "favicon" -}}
    <link rel="icon" type="image/png" href={{ .Site.Params.favicon | absURL }} />
    {{- end -}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="jlCg85Ipvolhm_HBlG7lPCf8nz3UL-aqLfya5_DaqyU" />
    <meta name="robots" content="all" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Lora:wght@600&family=Roboto+Mono&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/1fe9e9b98d.js" crossorigin="anonymous"></script>

    {{ if .Params.enable_mathjax }}
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\[','\]']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            TeX: { equationNumbers: { autoNumber: "AMS" },
                 extensions: ["AMSmath.js", "AMSsymbols.js"] }
          }
        });
        </script>
    {{ end }}


    <link rel="stylesheet" type="text/css" media="screen" href={{ "/css/main.css" | absURL }} />
</head>

