{{ $home_page := .Site.GetPage "home_page" }}
<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "header.html" . }}
<body>
    <div class="container wrapper">
        {{ partial "head.html" . }}
        <div class="summary container">
            <div class="portrait">
                <img src="{{ .Site.Params.avatar | absURL }}" alt="My avatar">
            </div>
            <div class="right-portrait">
                <div class="intro">
                    {{ with $home_page.Resources.GetMatch "bio.*" }} {{ .Content }} {{ end }}
                </div>
                <div class="social-section">
                    {{- range $index, $key := .Site.Params.Social -}}
                    <a rel="me" href="{{ $key.url }}" title="{{ $key.name }}" class="social">
                        <i class="{{ $key.pack }} {{ $key.icon }} awesome"></i>
                        {{- $key.name }}
                    </a>
                    {{- end -}}
                </div>
            </div>
        </div>
        <article>
            {{ with $home_page.Resources.GetMatch "main.*" }} {{ .Content }} {{ end }}
        </article>
        {{ partial "footer.html" . }}
</body>
</html>
